.single-char {
    display: flex;

    &__img {
        max-width: 293px;
        max-height: 293px;
        margin-right: 50px;
    }

    &__name {
        margin-bottom: 25px;
        text-transform: uppercase;
    }

    &__descr {
        font-size: 18px;
        line-height: 21px;
    }
}